<h1>All Posts</h1>

<% if user_signed_in? %>
  <div><%= link_to "New post", new_post_path %></div>
<% else %>
  <div>Sign in to view the authors of the posts</div>
<% end %>

<ul>
  <% @posts.reverse_each do |post| %>
    <li><%= render "post", post: post %></li>
  <% end %>
</ul>
